@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-roboto-slab), serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #f3f4f6;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-serif);
    /* On force explicitement le poids Regular 400 */
    font-weight: 400; 
    -webkit-font-smoothing: antialiased;
  }

  /* On garde le Bold (700) uniquement pour les titres pour le contraste */
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    @apply tracking-tight;
  }

  /* Pour tout le reste, on s'assure que c'est du 400 */
  p, span, li, a {
    font-weight: 400;
  }
}